.mat-card {
  margin: 3%;
  max-width: 952px;
  .form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
  }
  ul {
    margin: 0px;
    padding: 0px;
    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      button {
        outline: none;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    button {
      width: 120px;
      outline: none;
    }
  }
}
.mat-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
