<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="col-12 h6">
    Enter your email address and we’ll send you a link to reset your password.
  </div>

  <div class="form-group col-12">
    <mat-form-field class="col-12">
      <input
        matInput
        type="email"
        placeholder="Your email address"
        class="full-width"
        formControlName="email"
      />
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
        <ng-container *ngIf="form.get('email').errors.required"
          >Email is required.</ng-container
        >
        <ng-container *ngIf="form.get('email').errors.email"
          >Please enter a valid email address.</ng-container
        >
      </mat-error>
    </mat-form-field>
  </div>
  <ng-container
    ><div
      *ngIf="sent"
      class="d-flex justify-content-center col-12 text-info"
    >
      Ready! Check your email, please.&nbsp; <mat-icon>email</mat-icon>
    </div>
  </ng-container>
  <div class="form-group button-group col-12">
    <button
      [disabled]="form.invalid"
      type="submit"
      mat-flat-button
      color="primary"
    >
      Send
    </button>
    <button (click)="goBack()" mat-button color="primary">
      Never mind, I remember.
    </button>
  </div>
</form>
